<script>
$(function() {
  $('.piece').draggable({ containment: "table", revert: 'invalid' });

  $('td').droppable({
    drop: function(ev, ui) {
      var dropped = ui.draggable;
      var droppedOn = $(this);
      $(dropped).detach().css({top: 0, left: 0}).appendTo(droppedOn);
    }
  });
});
</script>

<div class="chessboard">
  <table>
    <% (0..7).each do |row| %>
      <tr class="row">
        <% (0..7).each do |column| %>
          <td class="column" data-x-position="<%=column%>" data-y-position="<%=row%>">
          <% piece = @game.piece_data[column][row]%>
          <% if piece.present? %>
            <div class="piece">
              <%= piece.unicode_symbol.html_safe%>
            </div>
          </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
