<script>
$(function() {
  $('.piece').draggable({
    snap: '.square',
    snapMode: 'outer',
    snapTolerance: 40,
    opacity: 0.75,
    cursor: 'crosshair',
    containment: 'table',
    revert: 'invalid'
  });

  $('.square').droppable({
    accept: '.piece',
    drop: function(event, ui) {
      var piece = ui.draggable
      var destination_square = $(this);

      var ajax_piece = {
        id: piece.data('piece-id'),
        x_position: destination_square.data('data-x-position'),
        y_position: destination_square.data('data-y-position')
      }
      $.ajax({
        type: 'PATCH',
        url: '/pieces/' + piece.id,
        dataType: 'json',
        data: {
          piece: piece
        },
        success: function(data) {
          $(location).attr('href', data.update_url);
        }
      });
    });
  });
});

</script>

<div class="chessboard">
  <table>
    <% (0..7).each do |row| %>
      <tr class="row">
        <% (0..7).each do |column| %>
          <td class="square" data-x-position="<%=column%>" data-y-position="<%=row%>">
          <% piece = @game.piece_data[column][row]%>
          <% if piece.present? %>
            <div class="piece">
              <%= piece.unicode_symbol.html_safe%>
            </div>
          </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
