 <div class="chessboard">
   <table>
   
   <% (0..7).each do |row| %>
    <tr>
    
   <% (0..7).each do |column| %>
    <td data-x-position="<%=column%>" data-y-position="<%=row%>">
    <% @pieces.each do |piece| %>
    <%= piece.unicode_symbol.html_safe%>
    </td>
  
    <% end %>
    <% end %>
    </tr>
  <% end %>

   
    
  </table>
  </div>