h1, h2, h3, h4, h5, h6, .navbar {
    margin: 0;
    padding: 0;
    color: white;
}

h4 {
  margin-bottom: 2px;
}

body {
	background: url('green_cup.png');
  margin: 0;
  padding: 0;
}

.title {
  align: center;
}

.navbar.navbar {
	background: url('lightpaperfibers.png');
	border-radius: 0;
	padding: 5px;
	color: #FAC739;
	margin-bottom:0;
}

.btn {
  border-radius:0;
}

.hero {
	background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 650px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #2a2a2a;
	-webkit-box-shadow: 1px 1px 2px 0 #2a2a2a;
	box-shadow: 1px 1px 2px 0 #2a2a2a;
	background: url('lightpaperfibers.png');
	border: 1px solid #2a2a2a;
	border-color: #2a2a2a;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background: url('lightpaperfibers.png');
  border: 2px solid black;
}

td {
  width: 80px;
  height: 80px;
  align: center;
}

.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;
  padding: 20px;
}

.join_button {
  margin-top: 25px;
  margin-bottom: 20px;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: rgba(0,0,0, 0.5);
}

.chessboard {
  font-size: 45px;
  text-align: center;
}

.alert {
  border-radius: 0;
 }
